<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        colors="true" executionOrder="random" failOnWarning="true" failOnRisky="true"
        failOnEmptyTestSuite="true" beStrictAboutOutputDuringTests="true"
        cacheDirectory=".phpunit.cache"
        bootstrap="tests/bootstrap.php">
    <php>
        <ini name="display_errors" value="On"/>
    </php>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
